$gray-lighter: #ccc;

section {
  padding: 0 1rem;
  margin: 24px 0;
  border: 1px solid $gray-lighter;
}

input, button {
  font-size: 16px;
  padding: .5rem;
}

button:not(:last-child) {
  margin-right: 6px;
}
